@model DishFromViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/OrderForm.css" />
}

<div class="form-container">
    <div class="form-header" onclick="toggleForm()">
        <h2>Dish Order Form</h2>
    </div>
    <div class="form-content" id="formContent">
        @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Cost)
                @Html.TextBoxFor(m => m.Cost, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Cost)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DishTypeId, "Dish Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DishTypeId, (SelectList)ViewData["DishTypes"], "Select Dish Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DishTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ServingTableId, "Table Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ServingTableId, (SelectList)ViewData["ServingTables"], "Select Table", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ServingTableId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedChefIds, "Chefs", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.SelectedChefIds, (SelectList)ViewData["Chefs"], new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedChefIds, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</div>

<script src="~/js/FormScript.js">
    
</script>
